body {
  background-color: #f9fafc;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(100, 116, 139, 0.12);
}

/* 
-------------------------------------
Custom style for Calender
-------------------------------------



*/

.fc-col-header-cell-cushion {
  color: #121828;
  text-decoration: none;
  pointer-events: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.fc-timegrid-axis {
  color: #121828;
  text-decoration: none;
  pointer-events: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.fc-timegrid-slot-label-cushion {
  color: #121828;
  text-decoration: none;
  pointer-events: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.fc-toolbar-title {
  color: #121828;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji";
}

.fc-today-button {
  color: #121828;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji";
}

.fc-toolbar-chunk {
  color: #121828;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji";
}

.fc-timegrid-event-harness {
  border: none;
}

.fc-timegrid-event-harness-inset {
  border: none;
}

.fc-v-event {
  border: none;
}
